/* Elements */ 
body {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  font-size: 13px;
  color: rgba(0,0,0,0.87);
}

a:hover {
  text-decoration: underline;
}

/* Classes */
.header-row {
  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: space-around;
  width: 240px;
  height: 40px;
}

.search-button {
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(247,247,247, 0.70);
  color: rgba(0,0,0,0.70);
  border: 1px solid rgb(247,247,247, 0.75);
  border-radius: 5px;
  font-size: 15px;
  font-family: sans-serif;
}

.search-button:hover {
  background-color: #f8f9fa;
  color: #202124;
  border: 1px solid #dadce0;
}

.language-link {
  color: rgb(0, 0, 190);
}

.footer-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
  height: 40px;
  border: 1px solid rgba(0,0,0,0.06);
  color: rgba(0,0,0,.54);
  font-size: 14px;
}

.footer-links {
  color: rgba(0,0,0,.54);
  font-size: 14px;
}

/* IDs */
#sign-in {
  border: 1px solid #4285f4;
  outline: none;
  background-color: #4285f4;
  color: #fff;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: bold;
}

#google-logo {
  margin-top: 150px;
}

#search-container {
  display: flex;
  align-items: center;
  padding-left: 15px;
  margin-top: 25px;
  border: 1px solid rgb(216, 216, 216);
  width: 575px;
  height: 43px;
  border-radius: 50px;
}

#search-container:hover {
  box-shadow: 0px 2px 3px 1px rgb(216, 216, 216);
}

#search-key {
  width: 490px;
  margin-left: 10px;
  border: transparent;
}

#search-buttons-row {
  margin-top: 30px;
}

#languages-row {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 275px;
  height: 50px;
  font-size: small;
}

#footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: rgba(0,0,0,0.06);
  display: flex;
  flex-direction: column;
}

#footer-right {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  padding-right: 30px;
  width: 190px;
}

#footer-left {
  display: flex;
  justify-content: space-between;
  width: 355px;
}